.content {
  width: 30%;
  font-size: 15px;
  font-family: $font;
  flex-grow: 1;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 0 5px;
  .home-bar {
    position: relative;
    height: 53px;
    border-bottom: 1px solid #ddd;
    padding: 0 15px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    &-text {
      font-size: 19px;
      font-weight: 600;
      flex-grow: 1;
    }
    &-icon {
      position: relative;
      &-hover {
        color: $primary-color;
        @include box-overlay(37px, 37px);
      };
      &-hover:hover {
        background-color: $bg-hover;
        cursor: pointer;
      }
    };
  };
  @import './post.scss';
  @import './timeline.scss';
};

