.content {
  // width: 44%;
  min-width: 594px;
  max-width: 594px;
  font-size: 15px;
  font-family: $font;
  // flex-grow: 1;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  position: relative;
};
@import './homebar.scss';
@import './post.scss';
@import './timeline.scss';

