.timeline {
  margin-bottom: 20px;
  &-item {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 20px 15px 0 15px;
    transition: all .3s;
    &-avatar {
      width: 49px;
      margin: 0 5px;
      .avatar-img {
        margin: auto;
        position: relative;
        @include avatar(47px, 47px, $url);
        &-hover {
          @include box-overlay(47px, 47px);
        };
        @import '../helpers/post-author-info.scss';
      };
      .avatar-img:hover .avatar-img-hover {
        background-color: $bg-hover;
        cursor: pointer;
      }
    };
    &-content {
      flex-grow: 1;
      @import './timeline-item-content/content-header.scss';
      @import './timeline-item-content/content-main.scss';
      @import './timeline-item-content/content-footer.scss';
    };
  };
  &-item:hover {
    background-color: rgb(245, 248, 250);
  };
};