.trend-header {
  padding: 15px 15px;
  margin-bottom: 1px;
  display: flex;
  border-bottom: 1px solid #ddd;
  &-title {
    font-size: 19px;
    font-weight: 600;
    flex-grow: 1;
  };
  &-setting {
    color: $primary-color;
    position: relative;
    height: 16px;
    &-hover {
      height: 37px;
      width: 37px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .3s;
    };
    &-hover:hover {
      background-color: $bg-hover;
      cursor: pointer;
    }
  };
}

.trend-item {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  transition: all .3s;
  &-text {
    color: #555;
    font-size: 15px;
    margin-bottom: 5px;
  };
  &-hashtag {
    font-weight: 600;
    margin-bottom: 5px;
  };
  &-view {
    color: #555;
  };
}

.trend-item:hover,
.trend-more:hover {
  background-color: $trend-hover;
  cursor: pointer;
}

.trend-more {
  padding: 15px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  transition: all .3s;
  &-text {
    color: $primary-color;
    text-decoration: none;
  }
}
