.left-siderbar {
  font-family: $font;
  width: 23.5%; 
  &-content {
    padding: 0 20px;
    margin-left: 45px;
    position: sticky;
    top: 0;
  };
}
@import './logo.scss';
@import './menu.scss';
@import './btn.scss';